body{
    font-family: audiowide;
background-color: #3F4A4B;
color: #8EECF5;
}

h1,h2,h3,h4,h5,h6 {
font-family: geo;
font-size: 30pt;
}

header, footer{
    text-align: center;
    border: 8px solid ;

}
/* hero section */
#hero{
    text-align: center;
}

#hero img{
width: 330px;
}

/* bio section */
#bio{
    text-align: center;
}
/* Hobbies */
#hobbies{
text-align: center;
color: aliceblue;
}
/* Gallery */
#Gallery{
    border: 3px solid aliceblue;
    margin-bottom: 3rem;
    color: aliceblue;
}

#Gallery img{
max-width: 100%;
}

#Gallery figure{
text-align: center;
}
/*book*/
#Article{
border: 3px solid aliceblue;
    margin-bottom: 3rem;
color: antiquewhite;
font-family: audiowide;
}
#article div{
    padding: 3rem;
    max-width: 40rem;
    margin: 0 auto;

}

#Article div p{
padding: 0.3em 0;
clear: both;
}

/* Dropcaps */

#Article div p::first-letter{
color: aliceblue;
float: left;
font-size: 3em;
padding: .1em;
line-height:.20;
font-family: cursive;
text-shadow:2px 2px 3px black ;
}
